/* -------------------------------------------------- */
// Colour Sheet Controller
/* -------------------------------------------------- */
/* -------------------------------------------------- */
// Actual Colour Palette
/* -------------------------------------------------- */


$bg-color: white;
$pg-color: transparent;
$text-color: #222;
$primary-color: #B54;
$secondary-color: #222;
$tertiary-color: #222;

// $pg-color: #EEE;
// $text-color: black;
// $primary-color: #C65;
// $secondary-color: #111;
// $tertiary-color: black;


/*
hsla(random(300), random(100), random(100), 1);
*/

/* -------------------------------------------------- */
// Contrast function
/* -------------------------------------------------- */
@import "compass/utilities/color/contrast";

$contrasted-dark-default: #222;
$contrasted-light-default: white;

/* -------------------------------------------------- */

$gray-shade-05: tint(black, 05);
$gray-shade-10: tint(black, 10);
$gray-shade-15: tint(black, 15);
$gray-shade-20: tint(black, 20);
$gray-shade-25: tint(black, 25);
$gray-shade-30: tint(black, 30);
$gray-shade-35: tint(black, 35);
$gray-shade-40: tint(black, 40);
$gray-shade-45: tint(black, 45);
$gray-shade-50: tint(black, 50);
$gray-shade-55: tint(black, 55);
$gray-shade-60: tint(black, 60);
$gray-shade-65: tint(black, 65);
$gray-shade-70: tint(black, 70);
$gray-shade-75: tint(black, 75);
$gray-shade-80: tint(black, 80);
$gray-shade-95: tint(black, 95);

/* -------------------------------------------------- */

$experimental-support-for-svg: true;

/* -------------------------------------------------- */

$primary-secondary-color-mix: mix($primary-color, $secondary-color, 50%);
$primary-tertiary-color-mix: mix($primary-color, $tertiary-color, 50%);
$secondary-tertiary-color-mix: mix($secondary-color, $tertiary-color, 50%);

/* -------------------------------------------------- */

$text-color-complement: complement($text-color);
$bg-color-complement: complement($bg-color);
$primary-color-complement: complement($primary-color);
$secondary-color-complement: complement($secondary-color);
$tertiary-color-complement: complement($tertiary-color);

$text-color-invert: invert($text-color);
$bg-color-invert: invert($bg-color);
$primary-color-invert: invert($primary-color);
$secondary-color-invert: invert($secondary-color);
$tertiary-color-invert: invert($tertiary-color);

/* -------------------------------------------------- */

$text-color-tint-05: tint($text-color, 05);
$text-color-tint-10: tint($text-color, 10);
$text-color-tint-15: tint($text-color, 15);
$text-color-tint-20: tint($text-color, 20);
$text-color-tint-25: tint($text-color, 25);
$text-color-tint-30: tint($text-color, 30);
$text-color-tint-35: tint($text-color, 35);
$text-color-tint-40: tint($text-color, 40);
$text-color-tint-45: tint($text-color, 45);
$text-color-tint-50: tint($text-color, 50);
$text-color-tint-55: tint($text-color, 55);
$text-color-tint-60: tint($text-color, 60);
$text-color-tint-65: tint($text-color, 65);
$text-color-tint-70: tint($text-color, 70);
$text-color-tint-75: tint($text-color, 75);
$text-color-tint-80: tint($text-color, 80);
$text-color-tint-85: tint($text-color, 85);
$text-color-tint-90: tint($text-color, 90);
$text-color-tint-95: tint($text-color, 95);

$text-color-shade-05: shade($text-color, 05);
$text-color-shade-10: shade($text-color, 10);
$text-color-shade-15: shade($text-color, 15);
$text-color-shade-20: shade($text-color, 20);
$text-color-shade-25: shade($text-color, 25);
$text-color-shade-30: shade($text-color, 30);
$text-color-shade-35: shade($text-color, 35);
$text-color-shade-40: shade($text-color, 40);
$text-color-shade-45: shade($text-color, 45);
$text-color-shade-50: shade($text-color, 50);
$text-color-shade-55: shade($text-color, 55);
$text-color-shade-60: shade($text-color, 60);
$text-color-shade-65: shade($text-color, 65);
$text-color-shade-70: shade($text-color, 70);
$text-color-shade-75: shade($text-color, 75);
$text-color-shade-80: shade($text-color, 80);
$text-color-shade-85: shade($text-color, 85);
$text-color-shade-90: shade($text-color, 90);
$text-color-shade-95: shade($text-color, 95);

/* -------------------------------------------------- */

$bg-color-tint-05: tint($bg-color, 05);
$bg-color-tint-10: tint($bg-color, 10);
$bg-color-tint-15: tint($bg-color, 15);
$bg-color-tint-20: tint($bg-color, 20);
$bg-color-tint-25: tint($bg-color, 25);
$bg-color-tint-30: tint($bg-color, 30);
$bg-color-tint-35: tint($bg-color, 35);
$bg-color-tint-40: tint($bg-color, 40);
$bg-color-tint-45: tint($bg-color, 45);
$bg-color-tint-50: tint($bg-color, 50);
$bg-color-tint-55: tint($bg-color, 55);
$bg-color-tint-60: tint($bg-color, 60);
$bg-color-tint-65: tint($bg-color, 65);
$bg-color-tint-70: tint($bg-color, 70);
$bg-color-tint-75: tint($bg-color, 75);
$bg-color-tint-80: tint($bg-color, 80);
$bg-color-tint-85: tint($bg-color, 85);
$bg-color-tint-90: tint($bg-color, 90);
$bg-color-tint-95: tint($bg-color, 95);

$bg-color-shade-05: shade($bg-color, 05);
$bg-color-shade-10: shade($bg-color, 10);
$bg-color-shade-15: shade($bg-color, 15);
$bg-color-shade-20: shade($bg-color, 20);
$bg-color-shade-25: shade($bg-color, 25);
$bg-color-shade-30: shade($bg-color, 30);
$bg-color-shade-35: shade($bg-color, 35);
$bg-color-shade-40: shade($bg-color, 40);
$bg-color-shade-45: shade($bg-color, 45);
$bg-color-shade-50: shade($bg-color, 50);
$bg-color-shade-55: shade($bg-color, 55);
$bg-color-shade-60: shade($bg-color, 60);
$bg-color-shade-65: shade($bg-color, 65);
$bg-color-shade-70: shade($bg-color, 70);
$bg-color-shade-75: shade($bg-color, 75);
$bg-color-shade-80: shade($bg-color, 80);
$bg-color-shade-85: shade($bg-color, 85);
$bg-color-shade-90: shade($bg-color, 90);
$bg-color-shade-95: shade($bg-color, 95);

/* -------------------------------------------------- */

$primary-color-tint-05: tint($primary-color, 05);
$primary-color-tint-10: tint($primary-color, 10);
$primary-color-tint-15: tint($primary-color, 15);
$primary-color-tint-20: tint($primary-color, 20);
$primary-color-tint-25: tint($primary-color, 25);
$primary-color-tint-30: tint($primary-color, 30);
$primary-color-tint-35: tint($primary-color, 35);
$primary-color-tint-40: tint($primary-color, 40);
$primary-color-tint-45: tint($primary-color, 45);
$primary-color-tint-50: tint($primary-color, 50);
$primary-color-tint-55: tint($primary-color, 55);
$primary-color-tint-60: tint($primary-color, 60);
$primary-color-tint-65: tint($primary-color, 65);
$primary-color-tint-70: tint($primary-color, 70);
$primary-color-tint-75: tint($primary-color, 75);
$primary-color-tint-80: tint($primary-color, 80);
$primary-color-tint-85: tint($primary-color, 85);
$primary-color-tint-90: tint($primary-color, 90);
$primary-color-tint-95: tint($primary-color, 95);

$primary-color-shade-05: shade($primary-color, 05);
$primary-color-shade-10: shade($primary-color, 10);
$primary-color-shade-15: shade($primary-color, 15);
$primary-color-shade-20: shade($primary-color, 20);
$primary-color-shade-25: shade($primary-color, 25);
$primary-color-shade-30: shade($primary-color, 30);
$primary-color-shade-35: shade($primary-color, 35);
$primary-color-shade-40: shade($primary-color, 40);
$primary-color-shade-45: shade($primary-color, 45);
$primary-color-shade-50: shade($primary-color, 50);
$primary-color-shade-55: shade($primary-color, 55);
$primary-color-shade-60: shade($primary-color, 60);
$primary-color-shade-65: shade($primary-color, 65);
$primary-color-shade-70: shade($primary-color, 70);
$primary-color-shade-75: shade($primary-color, 75);
$primary-color-shade-80: shade($primary-color, 80);
$primary-color-shade-85: shade($primary-color, 85);
$primary-color-shade-90: shade($primary-color, 90);
$primary-color-shade-95: shade($primary-color, 95);

/* -------------------------------------------------- */

$secondary-color-tint-05: tint($secondary-color, 05);
$secondary-color-tint-10: tint($secondary-color, 10);
$secondary-color-tint-15: tint($secondary-color, 15);
$secondary-color-tint-20: tint($secondary-color, 20);
$secondary-color-tint-25: tint($secondary-color, 25);
$secondary-color-tint-30: tint($secondary-color, 30);
$secondary-color-tint-35: tint($secondary-color, 35);
$secondary-color-tint-40: tint($secondary-color, 40);
$secondary-color-tint-45: tint($secondary-color, 45);
$secondary-color-tint-50: tint($secondary-color, 50);
$secondary-color-tint-55: tint($secondary-color, 55);
$secondary-color-tint-60: tint($secondary-color, 60);
$secondary-color-tint-65: tint($secondary-color, 65);
$secondary-color-tint-70: tint($secondary-color, 70);
$secondary-color-tint-75: tint($secondary-color, 75);
$secondary-color-tint-80: tint($secondary-color, 80);
$secondary-color-tint-85: tint($secondary-color, 85);
$secondary-color-tint-90: tint($secondary-color, 90);
$secondary-color-tint-95: tint($secondary-color, 95);

$secondary-color-shade-05: shade($secondary-color, 05);
$secondary-color-shade-10: shade($secondary-color, 10);
$secondary-color-shade-15: shade($secondary-color, 15);
$secondary-color-shade-20: shade($secondary-color, 20);
$secondary-color-shade-25: shade($secondary-color, 25);
$secondary-color-shade-30: shade($secondary-color, 30);
$secondary-color-shade-35: shade($secondary-color, 35);
$secondary-color-shade-40: shade($secondary-color, 40);
$secondary-color-shade-45: shade($secondary-color, 45);
$secondary-color-shade-50: shade($secondary-color, 50);
$secondary-color-shade-55: shade($secondary-color, 55);
$secondary-color-shade-60: shade($secondary-color, 60);
$secondary-color-shade-65: shade($secondary-color, 65);
$secondary-color-shade-70: shade($secondary-color, 70);
$secondary-color-shade-75: shade($secondary-color, 75);
$secondary-color-shade-80: shade($secondary-color, 80);
$secondary-color-shade-85: shade($secondary-color, 85);
$secondary-color-shade-90: shade($secondary-color, 90);
$secondary-color-shade-95: shade($secondary-color, 95);

/* -------------------------------------------------- */

$tertiary-color-tint-05: tint($tertiary-color, 05);
$tertiary-color-tint-10: tint($tertiary-color, 10);
$tertiary-color-tint-15: tint($tertiary-color, 15);
$tertiary-color-tint-20: tint($tertiary-color, 20);
$tertiary-color-tint-25: tint($tertiary-color, 25);
$tertiary-color-tint-30: tint($tertiary-color, 30);
$tertiary-color-tint-35: tint($tertiary-color, 35);
$tertiary-color-tint-40: tint($tertiary-color, 40);
$tertiary-color-tint-45: tint($tertiary-color, 45);
$tertiary-color-tint-50: tint($tertiary-color, 50);
$tertiary-color-tint-55: tint($tertiary-color, 55);
$tertiary-color-tint-60: tint($tertiary-color, 60);
$tertiary-color-tint-65: tint($tertiary-color, 65);
$tertiary-color-tint-70: tint($tertiary-color, 70);
$tertiary-color-tint-75: tint($tertiary-color, 75);
$tertiary-color-tint-80: tint($tertiary-color, 80);
$tertiary-color-tint-85: tint($tertiary-color, 85);
$tertiary-color-tint-90: tint($tertiary-color, 90);
$tertiary-color-tint-95: tint($tertiary-color, 95);

$tertiary-color-shade-05: shade($tertiary-color, 05);
$tertiary-color-shade-10: shade($tertiary-color, 10);
$tertiary-color-shade-15: shade($tertiary-color, 15);
$tertiary-color-shade-20: shade($tertiary-color, 20);
$tertiary-color-shade-25: shade($tertiary-color, 25);
$tertiary-color-shade-30: shade($tertiary-color, 30);
$tertiary-color-shade-35: shade($tertiary-color, 35);
$tertiary-color-shade-40: shade($tertiary-color, 40);
$tertiary-color-shade-45: shade($tertiary-color, 45);
$tertiary-color-shade-50: shade($tertiary-color, 50);
$tertiary-color-shade-55: shade($tertiary-color, 55);
$tertiary-color-shade-60: shade($tertiary-color, 60);
$tertiary-color-shade-65: shade($tertiary-color, 65);
$tertiary-color-shade-70: shade($tertiary-color, 70);
$tertiary-color-shade-75: shade($tertiary-color, 75);
$tertiary-color-shade-80: shade($tertiary-color, 80);
$tertiary-color-shade-85: shade($tertiary-color, 85);
$tertiary-color-shade-90: shade($tertiary-color, 90);
$tertiary-color-shade-95: shade($tertiary-color, 95);

/* -------------------------------------------------- */

.bg-color { background-color: $bg-color }
.pg-color { background-color: $pg-color }
.text-color { background-color: $text-color }
.primary-color { background-color: $primary-color }
.secondary-color { background-color: $secondary-color }
.tertiary-color { background-color: $tertiary-color }
.text-color-tint-10 { background-color: $text-color-tint-10 }
.text-color-tint-20 { background-color: $text-color-tint-20 }
.text-color-tint-30 { background-color: $text-color-tint-30 }
.text-color-tint-40 { background-color: $text-color-tint-40 }
.text-color-tint-50 { background-color: $text-color-tint-50 }
.text-color-tint-60 { background-color: $text-color-tint-60 }
.text-color-tint-70 { background-color: $text-color-tint-70 }
.text-color-tint-80 { background-color: $text-color-tint-80 }
.text-color-tint-90 { background-color: $text-color-tint-90 }
.text-color-tint-05 { background-color: $text-color-tint-05 }
.text-color-tint-15 { background-color: $text-color-tint-15 }
.text-color-tint-25 { background-color: $text-color-tint-25 }
.text-color-tint-35 { background-color: $text-color-tint-35 }
.text-color-tint-45 { background-color: $text-color-tint-45 }
.text-color-tint-55 { background-color: $text-color-tint-55 }
.text-color-tint-65 { background-color: $text-color-tint-65 }
.text-color-tint-75 { background-color: $text-color-tint-75 }
.text-color-tint-85 { background-color: $text-color-tint-85 }
.text-color-tint-95 { background-color: $text-color-tint-95 }
.text-color-shade-10 { background-color: $text-color-shade-10 }
.text-color-shade-20 { background-color: $text-color-shade-20 }
.text-color-shade-30 { background-color: $text-color-shade-30 }
.text-color-shade-40 { background-color: $text-color-shade-40 }
.text-color-shade-50 { background-color: $text-color-shade-50 }
.text-color-shade-60 { background-color: $text-color-shade-60 }
.text-color-shade-70 { background-color: $text-color-shade-70 }
.text-color-shade-80 { background-color: $text-color-shade-80 }
.text-color-shade-90 { background-color: $text-color-shade-90 }
.text-color-shade-05 { background-color: $text-color-shade-05 }
.text-color-shade-15 { background-color: $text-color-shade-15 }
.text-color-shade-25 { background-color: $text-color-shade-25 }
.text-color-shade-35 { background-color: $text-color-shade-35 }
.text-color-shade-45 { background-color: $text-color-shade-45 }
.text-color-shade-55 { background-color: $text-color-shade-55 }
.text-color-shade-65 { background-color: $text-color-shade-65 }
.text-color-shade-75 { background-color: $text-color-shade-75 }
.text-color-shade-85 { background-color: $text-color-shade-85 }
.text-color-shade-95 { background-color: $text-color-shade-95 }
.bg-color-tint-10 { background-color: $bg-color-tint-10 }
.bg-color-tint-20 { background-color: $bg-color-tint-20 }
.bg-color-tint-30 { background-color: $bg-color-tint-30 }
.bg-color-tint-40 { background-color: $bg-color-tint-40 }
.bg-color-tint-50 { background-color: $bg-color-tint-50 }
.bg-color-tint-60 { background-color: $bg-color-tint-60 }
.bg-color-tint-70 { background-color: $bg-color-tint-70 }
.bg-color-tint-80 { background-color: $bg-color-tint-80 }
.bg-color-tint-90 { background-color: $bg-color-tint-90 }
.bg-color-tint-05 { background-color: $bg-color-tint-05 }
.bg-color-tint-15 { background-color: $bg-color-tint-15 }
.bg-color-tint-25 { background-color: $bg-color-tint-25 }
.bg-color-tint-35 { background-color: $bg-color-tint-35 }
.bg-color-tint-45 { background-color: $bg-color-tint-45 }
.bg-color-tint-55 { background-color: $bg-color-tint-55 }
.bg-color-tint-65 { background-color: $bg-color-tint-65 }
.bg-color-tint-75 { background-color: $bg-color-tint-75 }
.bg-color-tint-85 { background-color: $bg-color-tint-85 }
.bg-color-tint-95 { background-color: $bg-color-tint-95 }
.bg-color-shade-10 { background-color: $bg-color-shade-10 }
.bg-color-shade-20 { background-color: $bg-color-shade-20 }
.bg-color-shade-30 { background-color: $bg-color-shade-30 }
.bg-color-shade-40 { background-color: $bg-color-shade-40 }
.bg-color-shade-50 { background-color: $bg-color-shade-50 }
.bg-color-shade-60 { background-color: $bg-color-shade-60 }
.bg-color-shade-70 { background-color: $bg-color-shade-70 }
.bg-color-shade-80 { background-color: $bg-color-shade-80 }
.bg-color-shade-90 { background-color: $bg-color-shade-90 }
.bg-color-shade-05 { background-color: $bg-color-shade-05 }
.bg-color-shade-15 { background-color: $bg-color-shade-15 }
.bg-color-shade-25 { background-color: $bg-color-shade-25 }
.bg-color-shade-35 { background-color: $bg-color-shade-35 }
.bg-color-shade-45 { background-color: $bg-color-shade-45 }
.bg-color-shade-55 { background-color: $bg-color-shade-55 }
.bg-color-shade-65 { background-color: $bg-color-shade-65 }
.bg-color-shade-75 { background-color: $bg-color-shade-75 }
.bg-color-shade-85 { background-color: $bg-color-shade-85 }
.bg-color-shade-95 { background-color: $bg-color-shade-95 }
.primary-color-tint-10 { background-color: $primary-color-tint-10 }
.primary-color-tint-20 { background-color: $primary-color-tint-20 }
.primary-color-tint-30 { background-color: $primary-color-tint-30 }
.primary-color-tint-40 { background-color: $primary-color-tint-40 }
.primary-color-tint-50 { background-color: $primary-color-tint-50 }
.primary-color-tint-60 { background-color: $primary-color-tint-60 }
.primary-color-tint-70 { background-color: $primary-color-tint-70 }
.primary-color-tint-80 { background-color: $primary-color-tint-80 }
.primary-color-tint-90 { background-color: $primary-color-tint-90 }
.primary-color-tint-05 { background-color: $primary-color-tint-05 }
.primary-color-tint-15 { background-color: $primary-color-tint-15 }
.primary-color-tint-25 { background-color: $primary-color-tint-25 }
.primary-color-tint-35 { background-color: $primary-color-tint-35 }
.primary-color-tint-45 { background-color: $primary-color-tint-45 }
.primary-color-tint-55 { background-color: $primary-color-tint-55 }
.primary-color-tint-65 { background-color: $primary-color-tint-65 }
.primary-color-tint-75 { background-color: $primary-color-tint-75 }
.primary-color-tint-85 { background-color: $primary-color-tint-85 }
.primary-color-tint-95 { background-color: $primary-color-tint-95 }
.primary-color-shade-10 { background-color: $primary-color-shade-10 }
.primary-color-shade-20 { background-color: $primary-color-shade-20 }
.primary-color-shade-30 { background-color: $primary-color-shade-30 }
.primary-color-shade-40 { background-color: $primary-color-shade-40 }
.primary-color-shade-50 { background-color: $primary-color-shade-50 }
.primary-color-shade-60 { background-color: $primary-color-shade-60 }
.primary-color-shade-70 { background-color: $primary-color-shade-70 }
.primary-color-shade-80 { background-color: $primary-color-shade-80 }
.primary-color-shade-90 { background-color: $primary-color-shade-90 }
.primary-color-shade-05 { background-color: $primary-color-shade-05 }
.primary-color-shade-15 { background-color: $primary-color-shade-15 }
.primary-color-shade-25 { background-color: $primary-color-shade-25 }
.primary-color-shade-35 { background-color: $primary-color-shade-35 }
.primary-color-shade-45 { background-color: $primary-color-shade-45 }
.primary-color-shade-55 { background-color: $primary-color-shade-55 }
.primary-color-shade-65 { background-color: $primary-color-shade-65 }
.primary-color-shade-75 { background-color: $primary-color-shade-75 }
.primary-color-shade-85 { background-color: $primary-color-shade-85 }
.primary-color-shade-95 { background-color: $primary-color-shade-95 }
.secondary-color-tint-10 { background-color: $secondary-color-tint-10 }
.secondary-color-tint-20 { background-color: $secondary-color-tint-20 }
.secondary-color-tint-30 { background-color: $secondary-color-tint-30 }
.secondary-color-tint-40 { background-color: $secondary-color-tint-40 }
.secondary-color-tint-50 { background-color: $secondary-color-tint-50 }
.secondary-color-tint-60 { background-color: $secondary-color-tint-60 }
.secondary-color-tint-70 { background-color: $secondary-color-tint-70 }
.secondary-color-tint-80 { background-color: $secondary-color-tint-80 }
.secondary-color-tint-90 { background-color: $secondary-color-tint-90 }
.secondary-color-tint-05 { background-color: $secondary-color-tint-05 }
.secondary-color-tint-15 { background-color: $secondary-color-tint-15 }
.secondary-color-tint-25 { background-color: $secondary-color-tint-25 }
.secondary-color-tint-35 { background-color: $secondary-color-tint-35 }
.secondary-color-tint-45 { background-color: $secondary-color-tint-45 }
.secondary-color-tint-55 { background-color: $secondary-color-tint-55 }
.secondary-color-tint-65 { background-color: $secondary-color-tint-65 }
.secondary-color-tint-75 { background-color: $secondary-color-tint-75 }
.secondary-color-tint-85 { background-color: $secondary-color-tint-85 }
.secondary-color-tint-95 { background-color: $secondary-color-tint-95 }
.secondary-color-shade-10 { background-color: $secondary-color-shade-10 }
.secondary-color-shade-20 { background-color: $secondary-color-shade-20 }
.secondary-color-shade-30 { background-color: $secondary-color-shade-30 }
.secondary-color-shade-40 { background-color: $secondary-color-shade-40 }
.secondary-color-shade-50 { background-color: $secondary-color-shade-50 }
.secondary-color-shade-60 { background-color: $secondary-color-shade-60 }
.secondary-color-shade-70 { background-color: $secondary-color-shade-70 }
.secondary-color-shade-80 { background-color: $secondary-color-shade-80 }
.secondary-color-shade-90 { background-color: $secondary-color-shade-90 }
.secondary-color-shade-05 { background-color: $secondary-color-shade-05 }
.secondary-color-shade-15 { background-color: $secondary-color-shade-15 }
.secondary-color-shade-25 { background-color: $secondary-color-shade-25 }
.secondary-color-shade-35 { background-color: $secondary-color-shade-35 }
.secondary-color-shade-45 { background-color: $secondary-color-shade-45 }
.secondary-color-shade-55 { background-color: $secondary-color-shade-55 }
.secondary-color-shade-65 { background-color: $secondary-color-shade-65 }
.secondary-color-shade-75 { background-color: $secondary-color-shade-75 }
.secondary-color-shade-85 { background-color: $secondary-color-shade-85 }
.secondary-color-shade-95 { background-color: $secondary-color-shade-95 }
.tertiary-color-tint-10 { background-color: $tertiary-color-tint-10 }
.tertiary-color-tint-20 { background-color: $tertiary-color-tint-20 }
.tertiary-color-tint-30 { background-color: $tertiary-color-tint-30 }
.tertiary-color-tint-40 { background-color: $tertiary-color-tint-40 }
.tertiary-color-tint-50 { background-color: $tertiary-color-tint-50 }
.tertiary-color-tint-60 { background-color: $tertiary-color-tint-60 }
.tertiary-color-tint-70 { background-color: $tertiary-color-tint-70 }
.tertiary-color-tint-80 { background-color: $tertiary-color-tint-80 }
.tertiary-color-tint-90 { background-color: $tertiary-color-tint-90 }
.tertiary-color-tint-05 { background-color: $tertiary-color-tint-05 }
.tertiary-color-tint-15 { background-color: $tertiary-color-tint-15 }
.tertiary-color-tint-25 { background-color: $tertiary-color-tint-25 }
.tertiary-color-tint-35 { background-color: $tertiary-color-tint-35 }
.tertiary-color-tint-45 { background-color: $tertiary-color-tint-45 }
.tertiary-color-tint-55 { background-color: $tertiary-color-tint-55 }
.tertiary-color-tint-65 { background-color: $tertiary-color-tint-65 }
.tertiary-color-tint-75 { background-color: $tertiary-color-tint-75 }
.tertiary-color-tint-85 { background-color: $tertiary-color-tint-85 }
.tertiary-color-tint-95 { background-color: $tertiary-color-tint-95 }
.tertiary-color-shade-10 { background-color: $tertiary-color-shade-10 }
.tertiary-color-shade-20 { background-color: $tertiary-color-shade-20 }
.tertiary-color-shade-30 { background-color: $tertiary-color-shade-30 }
.tertiary-color-shade-40 { background-color: $tertiary-color-shade-40 }
.tertiary-color-shade-50 { background-color: $tertiary-color-shade-50 }
.tertiary-color-shade-60 { background-color: $tertiary-color-shade-60 }
.tertiary-color-shade-70 { background-color: $tertiary-color-shade-70 }
.tertiary-color-shade-80 { background-color: $tertiary-color-shade-80 }
.tertiary-color-shade-90 { background-color: $tertiary-color-shade-90 }
.tertiary-color-shade-05 { background-color: $tertiary-color-shade-05 }
.tertiary-color-shade-15 { background-color: $tertiary-color-shade-15 }
.tertiary-color-shade-25 { background-color: $tertiary-color-shade-25 }
.tertiary-color-shade-35 { background-color: $tertiary-color-shade-35 }
.tertiary-color-shade-45 { background-color: $tertiary-color-shade-45 }
.tertiary-color-shade-55 { background-color: $tertiary-color-shade-55 }
.tertiary-color-shade-65 { background-color: $tertiary-color-shade-65 }
.tertiary-color-shade-75 { background-color: $tertiary-color-shade-75 }
.tertiary-color-shade-85 { background-color: $tertiary-color-shade-85 }
.tertiary-color-shade-95 { background-color: $tertiary-color-shade-95 }